# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
venv/
.venv/

# Environment variables
.env

# Node / React
node_modules/
build/
dist/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/
TEST*.xml

# Logs
*.log

EnergyCharts.js
