--
-- PostgreSQL database dump
--

\restrict sKqsdbmxlp0jCDYhvlxTBFZZOxCo2UwQWtrvx2tVyKyflNpdERxsAnhuoJVj9bY

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: energy_records; Type: TABLE; Schema: public; Owner: energytracker
--

CREATE TABLE public.energy_records (
    id integer NOT NULL,
    neighborhood_id integer NOT NULL,
    date date NOT NULL,
    total_kwh numeric(12,2) NOT NULL,
    CONSTRAINT energy_records_total_kwh_check CHECK ((total_kwh >= (0)::numeric))
);


ALTER TABLE public.energy_records OWNER TO energytracker;

--
-- Name: energy_records_id_seq; Type: SEQUENCE; Schema: public; Owner: energytracker
--

CREATE SEQUENCE public.energy_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.energy_records_id_seq OWNER TO energytracker;

--
-- Name: energy_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energytracker
--

ALTER SEQUENCE public.energy_records_id_seq OWNED BY public.energy_records.id;


--
-- Name: neighborhoods; Type: TABLE; Schema: public; Owner: energytracker
--

CREATE TABLE public.neighborhoods (
    neighborhood_id integer NOT NULL,
    neighborhood_name text NOT NULL,
    households integer NOT NULL,
    CONSTRAINT neighborhoods_households_check CHECK ((households > 0))
);


ALTER TABLE public.neighborhoods OWNER TO energytracker;

--
-- Name: energy_records id; Type: DEFAULT; Schema: public; Owner: energytracker
--

ALTER TABLE ONLY public.energy_records ALTER COLUMN id SET DEFAULT nextval('public.energy_records_id_seq'::regclass);


--
-- Data for Name: energy_records; Type: TABLE DATA; Schema: public; Owner: energytracker
--



--
-- Data for Name: neighborhoods; Type: TABLE DATA; Schema: public; Owner: energytracker
--

COPY public.neighborhoods (neighborhood_id, neighborhood_name, households) FROM stdin;
1	Neighborhood_1	302
2	Neighborhood_2	635
3	Neighborhood_3	470
4	Neighborhood_4	306
5	Neighborhood_5	271
6	Neighborhood_6	220
7	Neighborhood_7	321
8	Neighborhood_8	666
9	Neighborhood_9	414
10	Neighborhood_10	530
\.


--
-- Name: energy_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: energytracker
--

SELECT pg_catalog.setval('public.energy_records_id_seq', 3650, true);


--
-- Name: energy_records energy_records_pkey; Type: CONSTRAINT; Schema: public; Owner: energytracker
--

ALTER TABLE ONLY public.energy_records
    ADD CONSTRAINT energy_records_pkey PRIMARY KEY (id);


--
-- Name: neighborhoods neighborhoods_pkey; Type: CONSTRAINT; Schema: public; Owner: energytracker
--

ALTER TABLE ONLY public.neighborhoods
    ADD CONSTRAINT neighborhoods_pkey PRIMARY KEY (neighborhood_id);


--
-- Name: idx_energy_records_date; Type: INDEX; Schema: public; Owner: energytracker
--

CREATE INDEX idx_energy_records_date ON public.energy_records USING btree (date);


--
-- Name: idx_energy_records_neighborhood_date; Type: INDEX; Schema: public; Owner: energytracker
--

CREATE INDEX idx_energy_records_neighborhood_date ON public.energy_records USING btree (neighborhood_id, date);


--
-- Name: energy_records energy_records_neighborhood_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energytracker
--

ALTER TABLE ONLY public.energy_records
    ADD CONSTRAINT energy_records_neighborhood_id_fkey FOREIGN KEY (neighborhood_id) REFERENCES public.neighborhoods(neighborhood_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict sKqsdbmxlp0jCDYhvlxTBFZZOxCo2UwQWtrvx2tVyKyflNpdERxsAnhuoJVj9bY

